<section class="orders-show">

  <header class="page-header">
    <h1>Orders <%= @orders %></h1>
  </header>
  <article class="order_Q">
   <% @order.line_items.each do |item| %>
      <%= image_tag item.product.image.thumb.url  %>
      <%= item.product.name   %>,
      Item price: $<%= item.product.price   %>,
      Quantity: <%= item.quantity   %>
   <% end %>
    <span>Order Total: $<%= @order.total %></span>
   Email: <%= @order.email %>
      <h4>Thank you for your order!</h4>
  </article>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
